include ../partials/header.pug

h1 Qui prend quoi ?

h2.newParty__title Créer un événement
form(method="post" action="/party").newParty
  div.newParty__fields
    div.field
      label(for="name") Nom de l'événement :
      input(name="name" id="name" required minlength="3" placeholder="Nouvel an")
    div.field
      label(for="author" required) Votre pseudo :
      input(name="author" id="author" required minlength="3" placeholder="John")
    div.field
      label(for="date") Date de l'événement :
      input(name="date" id="date" type="date" value="2020-02-23")
  button(type="submit") Créer

script.
  let dateInput = document.querySelector('#date')
  let today = new Date();
  let dd = String(today.getDate()).padStart(2, '0');
  let mm = String(today.getMonth() + 1).padStart(2, '0');
  let yyyy = today.getFullYear();
  today = `${yyyy}-${mm}-${dd}`
  dateInput.value = today