.newItem {

}

.newItem__fields {
  margin-bottom: 1em;

  @include medium {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-gap: 15px;
    max-width: 500px;
  }

  @include large {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 15px;
    max-width: 500px;
  }

  .field {
    margin-bottom: 20px;
  }

  label {
    margin-bottom: 5px;

    @include medium {
      place-self: center end;
    }
  }
}